.containerIngresos{
    background-color: rgb(102, 102, 119,0.4);
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-top: 40px;
}

.cajasIngresos{
    width: 17%;
    height: 350px;
    background-color: rgba(32, 31, 31, 0.2);
    margin: 7px;
    border-radius: 3px;
  justify-content: center;
  align-items: center;
}
.text-ingresos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-190%, -300%);
  color: white;
  font-size: 34px;
  font-weight: bold;   
}