.heder{
    margin-top: 20px;
  }
  .imgevolucion{
     width: 100%;
    
  }
.productosRescienteMenu{
    display: flex;
    padding: 1%;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;

}
.containerTeclado{
    width: 270px;
    height: 350px;
    background-color: rgba(32, 29, 29, 0.5);
    margin-left: 2%;
    margin-top:10px ;
   

}
.AccesoriosPerifericos{
    background-color: rgba(61, 144, 226, 0.9);
    height: 15%; 
    display: flex;
    justify-content: center;
    align-items: center;

}
.h3accesorios{
    margin: 0px;
    text-align: center;

}
.img-rsz{
    width: 90%;
    margin-top: 30px;
    text-align: center;
    
}
.imgmenuprincipal{
    width: 100%;

}
.AccesoriosPerifericosteclados{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ver-mas{
    width: 90%;
    height: 35px;
    border-radius: 10px;
    background-color: rgba(82, 103, 206, 0.9);
    text-align: center;
    margin-top: 40px;
    border: white;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.productos-variados{
    text-align: center;
    color: white;
    font-weight: 600;
    margin-top: 50px;
    font-size: 45px;
}
